@import "style.css";
@import "nav.css";
@import "slider.css";
@import "ticker.css";
@import "timer.css";
@import "under-slider.css";

@font-face {
    font-family: 'iransans';
    src: url("../fonts/Iransans.woff2") format('woff2');
}
body{
    font-family: iransans !important;
}