.search-box {

    padding: 15px;
    margin-top: 10px;
    width: 204px;
    height: 32px;

}

.submit-search{
    margin-left: 20px;
    border-radius: 0px;
    font-size: 18px;
    margin-top: 10px;
    padding: 0px 5px;
}