.slider {
    background-image: url("../../img/programmer.png");
    opacity: 0.9;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.be_center h5, h6{
    color: white;
    vertical-align: 20px;
}
.be_center h5{
    padding: 35px 0px 20px 0px;
}
.be_center h6{
    padding: 0px 0px 15px 0px;
}
.blink-me {
    color: #ffff00;
    animation: amir 1s ease-out;
    -webkit-animation: blink-me 1s running;
    -webkit-animation-iteration-count: infinite;
    font-size: 25px;
}
@-webkit-keyframes blink-me {
    0%{
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

i.arrow-move {
    font-size:53px;
    display: block;
    text-align: center; 
    position: relative;
    top: 45px;
    color: red;
}

@keyframes arrow-move {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);    
    }60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(-15px);    
    }
}
.arrow-move {
    animation: arrow-move 1s infinite;
    -webkit-animation: arrow-move 1s infinite;;
    -webkit-animation-iteration-count: infinite;
}

.teach-icons {
    color: white;
    font-size: 50px;
    text-align: center;
    height: 150px;
}

.teach-icons-text {
    display: block;
    font-size: 30px;
    margin-top: 10px;
}