
.style-header {
    padding-top: 1rem;
    border-bottom: 1px solid #b9bbbe;
}
.size1{
    width: 40px;
}
.red{
    height: 150px;
    background-color: red;
}
.blue{
    height: 150px;
    background-color: blue;
}
.green{
    height: 150px;
    background-color: green;
}
.logo{
    position: relative;
    width: 200px;
    height: 50px;
    top: 5px;
    left: 15px;
}
.nav-style {
    margin-top: 20px;
}
.nav-style i a {
    font-size: 14px;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
}
.nav-style i {
    color: coral;
}
.navbar{
    background-color: #446CB3;
}
.nav-link {
    color: white !important;
    display: block;
    padding: 6px 17px !important;
    font-weight: bold;
    font-size: 14px;
}
.collapse .navbar-nav .active a {
    color: yellow !important;
    border-bottom: 2px solid yellow;
}
