.ticker {
    padding: 5px 0px;
    width: 600px;
    height: 50px !important;
    text-align: right;
    position: relative;
    overflow: hidden;
    background-color:#ffffff;
}

.ticker ul {
    width: 100%;
    position: relative;
}

.ticker ul li {
    width: 100%;
    display: none;
}
