.menu-list{
    list-style-type: none;
    border: 1px solid black;
    display: table;
    padding-right: 0px !important;
}
.menu-list li {
    border-bottom: 1px dashed black;
    padding: 7px;
}

.menu-list li a {
    font-size: 13px;
}

.aside1 {
    position: relative;
    background-color: white;
}
.where{
    position: absolute;
    top: -26px;
    padding: 0px 10px;
    border-radius: 20px 0px 0px 0px ;
}
.menu-list li a {
    display: flex;
}